@use 'variaveis';


footer {
    display: flex;
    align-items: end;
    justify-content: center;
    max-width: 100%;
    height: 50%;
    margin: 0 auto;
    padding: 20px;
}

.containerr {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    color: aliceblue;
    padding-left: 180px;
    background-color: rgba(0, 0, 0, 0.733);
}

.rodape-ul h3 {
    font-size: 30px;
    font-family: variaveis.$textTrailer;
}

.rodape-ul li {
    padding: 6px;
}

.rodape-ul li a {
    color: variaveis.$corIcones;
    font-family: variaveis.$textPrincipal;
    font-size: 18px;
    transition: all .5s;
}

.rodape-ul li a:hover {
    color: variaveis.$cordoHover;
}

.rodape-ul--new {
    padding: 20px;
}

.rodape-p {
    font-size: 16px;
    font-family: variaveis.$textPrincipal;
}
