@use 'variaveis';

.content {
    max-width: 1500px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex: 1;
    margin: 0 auto;
}

.trailer-filme {
    display: block;
    align-items: center;
    max-width: 1500px;
    width: 100%;
}

.titulo-video {
    display: block;
    width: 30%;
    text-align: center;
    padding: 8px;
    border-radius: 8px;
    font-family: variaveis.$textTrailer;
    color: variaveis.$corIcones;
    transition: all 0.5s;
    cursor: pointer;

    &::after {
        content: '';
        width: 60px;
        height: 2px;
        background-color: variaveis.$corIcones;
        display: block;
        margin: 0 auto;
        opacity: 0.3;

    }
    
    &:hover {
        color: variaveis.$cordoHover;
    }
}

.trailer-filme video {
    width: 450px;
    border: solid 3px rgb(50, 46, 46);
}

.text {
    font-size: variaveis.$textPrincipal;
    font-size: 18px;
    padding-left: auto;
    color: variaveis.$corIcones;
    padding-top: 24px;
}



