@use 'variaveis';

.content {
    display: flex;
    justify-content:center;
    align-items:end;
    width: 100%;
    height: 100vh;
}

.content-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    column-gap: 24px;
}

.titulo-video {
    padding: 8px;
    border-radius: 8px;
    font-family: variaveis.$textTrailer;
    color: variaveis.$cordoHover;
    cursor: pointer;
    font-size: 32px;

    &::after {
        content: '';
        width: 60px;
        height: 2px;
        background-color: variaveis.$corIcones;
        margin: 0 auto;
        display: block;
        opacity: 0.3;
    }
}

.content-primary video {
    width: 750px;
    border: solid 3px rgb(50, 46, 46);
}

.text {
    font-size: variaveis.$textPrincipal;
    font-size: 18px;
    padding-left: auto;
    color: variaveis.$corIcones;
    padding-bottom: 24px;
}



